<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted">&copy; YelpCamp 2021</span>
    <span class="float-md-end text-muted">Favicon by <a target="_blank" href="https://icons8.com">Icons8</a></span>
  </div>
</footer>